/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

main {
    padding: 20px;
}

footer {
    background-color: #4b4b55;
    color: #fff;
    padding: 10px 20p;
    text-align: center;
}

#simulation-modules{
    padding: 100px;
}

#simulation-modules .accordion-button{
    background-color: #f4324a;
}

/* Estilos para el contenedor de equipos */
#equipos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Distribución de columnas responsiva */
    gap: 20px; /* Espacio entre elementos */
    justify-items: center; /* Centrar los elementos horizontalmente */
  }
  
  /* Estilos para el cuadrado de cada equipo */
  .equipo-card {
    width: 100%; /* Ancho máximo del cuadrado */
    max-width: 200px; /* Ancho máximo permitido */
    border: 1px solid #ccc; /* Borde del cuadrado */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Centrar el contenido horizontalmente */
    margin: 10px;
  }
  
  .equipo-escudo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .equipo-nombre {
    font-size: 1rem;
    color: #333;
  }
  

