/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto,sans-serif,Arial,Helvetica;
    margin: 0;
    padding: 0;
    text-shadow: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header{
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Para centrar el texto */
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
}

header.index {
    background-image: url(./img/header.jpg);
}

header.argentina{
    background-color:  #044b7b ;
}

.header-section {
    text-align: center;
    margin-top: 50px;
}

.header-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container-header{
    color: #fff;
    padding: 20px 20px;
    margin: 100px;
}

.header-section p {
    font-size: 16px;
    margin-bottom: 20px;
  }

header h1 {
    margin: 0;
    font-size: 2rem;
}

#verEquiposBtn, #simularLigaBtn, #simularPartidoBtn {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#verEquiposBtn:hover, #simularLigaBtn:hover, #simularPartidoBtn:hover{
    background-color: #45a049;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#simulation-modules{
    padding: 100px;
}

#simulation-modules .accordion-button{
    background-color: #f4324a;
}

/* Estilos para el contenedor de equipos */
#equipos-container, #equipos-seleccionados {
    display: grid;
    margin: 20px;
    background-color: #fff;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Distribución de columnas responsiva */
    gap: 10px; /* Espacio entre elementos */
    justify-items: center; /* Centrar los elementos horizontalmente */
  }

  #elegirEquipo{
    margin-top: 20px;
  }

  .boton-equipo{
    border: 0;
    background: none;
  }
  
  /* Estilos para el cuadrado de cada equipo */
  .equipo-card {
    width: 100%; /* Ancho máximo del cuadrado */
    max-width: 200px; /* Ancho máximo permitido */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Centrar el contenido horizontalmente */
  }
  
  .equipo-escudo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .equipo-nombre, #nombreEstadio{
    font-size: 1rem;
    color: #333;
    margin: auto;
  }

  #m1, #m2{
    font-size: 5rem;
    color: #333;
  }

  #imgEstadio{
    margin-bottom: 10px;
    width: 150px;
    vertical-align: middle;
  }

  .ligas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .liga-item {
    text-align: center;
  }
  
  .liga-item a {
    text-decoration: none;
    color: inherit; /* Para mantener el color del texto por defecto */
  }
  
  .liga-item img {
    border-radius: 5px;
  }
  
  .liga-item h3 {
    margin-top: 10px;
    font-size: 18px;
  }

#tablaPosiciones{
  width: 40%;
  float: left;
  margin: 50px;
}

.tituloTabla{
  text-align: center;
  font-size: 1em;
  background: #044b7b;
  color: #fff;
  border: 1px solid #000;
  width: 100%;
  text-shadow: 1px 1px 1px #000;
}

#posiciones{
  font-size: .9em;
  width: 380px;
  text-align: center;
  background: #797979;
  width: 100%;
}

table{
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
  

